##Importing  required libraies

In [5]:
import pandas as pd

In [6]:
##Reading the csv file into a pandas for easier analysis

In [12]:
adult = pd.read_csv('C:/Users/Owner/Downloads/adult_data.csv')
adult.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

1
How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [21]:
adult.race.value_counts().rename_axis('Race').reset_index(name ='Population')

                 Race  Population
0               White       27816
1               Black        3124
2  Asian-Pac-Islander        1039
3  Amer-Indian-Eskimo         311
4               Other         271

2
What is the average age of men?

In [24]:
adult[adult['sex'] == 'Male'].age.mean()

39.43354749885268

3
What is the percentage of people who have a Bachelor's degree?

In [28]:
len(adult[adult['education'] == 'Bachelors'])/len(adult)*100

16.44605509658794

4
What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [56]:
adult['education'].value_counts()
a = list(adult['education'].unique())
for item in ['Bachelors','Masters','Doctorate']:
    a.remove(item)
a

['HS-grad',
 '11th',
 '9th',
 'Some-college',
 'Assoc-acdm',
 'Assoc-voc',
 '7th-8th',
 'Prof-school',
 '5th-6th',
 '10th',
 '1st-4th',
 'Preschool',
 '12th']

In [74]:
#adv_edu = Popoulation with advanced education
adv_ed = adult.loc[adult['education'].isin(['Bachelors','Masters','Doctorate'])]
adv50k = adv_ed[adv_ed['salary'] == '>50K']
100*(len(adv50k)/len(adv_ed))

46.535843011613935

5
What percentage of people without advanced education make more than 50K?

In [114]:
#edu = without advanced education
edu = adult.loc[adult['education'].isin(a)]
edu50k = edu[edu['salary'] == '>50K']
100*(len(edu50k)/len(edu))

17.3713601914639

6
What is the minimum number of hours a person works per week?

In [64]:
adult['hours-per-week'].min()

1

7
What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [80]:
# wrks1 = works the min
wrks1 = adult[adult['hours-per-week'] == adult['hours-per-week'].min()]
(len(wrks1[wrks1['salary'] == '>50K'])/len(wrks1))*100

10.0

8
What country has the highest percentage of people that earn >50K and what is that percentage?

In [118]:

coun = adult[adult['salary'] == '>50K']['native-country'].value_counts().rename_axis('Country').reset_index(name ='Population')
coun['Percentage'] = (coun['Population']/coun['Population'].sum())*100
a=coun[coun['Percentage'] == coun['Percentage'].max()]
a.iloc[0]['Country']
a.iloc[0]['Percentage']

'United-States'

9
Identify the most popular occupation for those who earn >50K in India.

In [125]:
cond1=(adult['native-country'] == 'India')
cond2=  (adult['salary'] == '>50K')

india50k =adult[cond1 & cond2 ]['occupation'].value_counts().to_frame(name='Population')
india50k[india50k['Population'] == india50k['Population'].max()].reset_index().iloc[0]['index']

'Prof-specialty'